h1 {
   font-size: 4.2em;
   font-weight: 900;
   font-family: 'Playfair Display', serif;
   color: white;
   padding-bottom: 25px;
   padding-top: 15px;
   margin: 0px;
   line-height: 1.2em;
}

p {
  font-family: 'Lato', sans-serif;
  color: lightGray;
  font-size: 1.3em;
  margin: 0px;
  line-height: 1.5em;
  max-width: 480px;

}

.splash {
  padding-left: 18%;
  padding-top: 150px;
  width: 100%;
}

body {
  background-color: black;
}

@media (max-width: 480px) {
  h1 {
     font-size: 3em;
     max-width: 80%;
     min-width: 200px;
   }
  p {
    font-size: 1.1em;
    max-width: 75%;
    min-width: 200px;
  }
  .splash {
    padding-left: 10%;
  }
}
