<div class="footer">
  <p style="color: #8f969a;">Designed and coded by Jon Eckert <i class="fas fa-heart" style="font-size: 12px; padding: 0 5px;"></i> <a href="mailto:jon@joneckert.com" style="color: #8f969a; text-decoration: underline;">Say hello!</a></p>
  <div class="footer-icons">
    <a href="https://dribbble.com/joneckert" target="_blank"><i class="fab fa-dribbble"></i></a>
    <a href="https://twitter.com/jeckert" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://instagram.com/jeckert" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
