<div class="nav-bar" style="background: #ebf1f5;">
  <a href="/"><img src="/assets/images/jon-avatar-teal.png" class="logo"></a>

  <nav class="hamburger">
    <span onclick="myFunction()" class="top-button"><i class="fal fa-bars"></i></span>
    <div style="clear: both;"></div>
    <div id="hamburger-dropdown">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work.html">Work</a></li>
        <li><a href="/gallery.html">Gallery</a></li>
      </ul>
    </div>
  </nav>

  <div style="clear: both;"></div>
</div>
