{% for section in sections %}
{% set heading = section.heading | trim %}
<div class="project-section{% if not heading %} project-section--full{% endif %}">
  {% if heading %}
  <div class="project-col1">
    <h3>{{ heading }}</h3>
    <div style="clear: both;"></div>
  </div>
  {% endif %}
  <div class="project-col2">
    {% for block in section.blocks %}
      {% if block.type == "text" %}
        {{ block.body | renderMarkdown | safe }}
      {% elif block.type == "images" %}
        {% set showBackground = block.showBackground | default(true) %}
        <div class="project-image-block{% if showBackground %} project-image-block--framed{% endif %}">
          {% for image in block.items %}
            <div{% if not loop.first %} style="padding-top: 25px;"{% endif %}>
              {% set imgWidth = image.width | default(100) %}
              <img style="padding-bottom:0px; width: {{ imgWidth }}%; height: auto; max-width: 100%; display: block; margin: 0 auto;" src="{{ image.src | projectImageSrc(slug) }}" alt="{{ image.caption }}">
              <p style="text-align: center; font-size: 13px; font-style: italic; color:rgb(97, 97, 97);">{{ image.caption }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    <div style="clear: both;"></div>
  </div>
</div>
{% endfor %}
