<div id="work-grid">
{% for column in workProjects %}
<div class="{{ column.gridClass }} work-grid-column">
  {% for project in column.projects %}
  <div class="work-card" data-categories="{{ project.categories | join(' ') }}" data-work-order="{{ project.workOrder }}">
    <a href="{{ project.href }}" class="card-link">
      <div class="grid-item">
        <div class="card card--radius">
          <div class="card-thumb" style="background-image: url({{ project.cardThumb }});">
          </div>
          <article class="pa4">
            <h3>{{ project.title }}</h3>
            <p class="card-description">{{ project.cardDescription }}</p>
            <div class="proj-tag">{{ project.cardTag }}</div>
          </article>
        </div>
      </div>
    </a>
    <div style="clear: both;"></div>
  </div>
  {% endfor %}
</div>
{% endfor %}
</div>
